header.site-header
    aside
        p Open Mon-Fri 9-5 || Weekends 10-3
        a(href='tel:+613671110')
            svg(style='fill:green;stroke:green;' width='15' height='15' viewBox='0 0 24 23' xmlns='http://www.w3.org/2000/svg')
                path(d='M6.95554 9.53215C7.68401 10.8687 8.52235 12.155 9.60986 13.3276C10.7023 14.5058 12.055 15.5794 13.8139 16.4896L13.8157 16.4905L13.816 16.4896C13.9442 16.5563 14.0662 16.5547 14.1809 16.5108C14.3471 16.4474 14.5202 16.3066 14.6885 16.1362C14.8169 16.0058 14.9778 15.7906 15.1518 15.5573C15.829 14.6496 16.6663 13.5277 17.8484 14.0859C17.8734 14.0976 17.897 14.1112 17.9192 14.1265L21.8587 16.4347C21.8728 16.4429 21.8864 16.4517 21.8992 16.4611C22.4215 16.8267 22.6347 17.39 22.637 18.0205C22.6395 18.6709 22.403 19.3988 22.0605 20.0143C21.6089 20.8255 20.9359 21.3616 20.1657 21.7249C19.4314 22.0712 18.6165 22.2555 17.8295 22.3729C16.5989 22.557 15.4387 22.4401 14.2571 22.0691C13.1038 21.7068 11.937 21.1019 10.665 20.2982L10.5723 20.2397C9.98668 19.8697 9.3563 19.4717 8.74299 18.9997C6.47765 17.2558 4.17075 14.7391 2.6749 11.977C1.41571 9.65195 0.726685 7.14421 1.10228 4.75303C1.30812 3.44088 1.86297 2.24978 2.81946 1.4608C3.65798 0.768805 4.78951 0.393982 6.24398 0.526347C6.41531 0.541433 6.5597 0.64111 6.64105 0.781197L6.64211 0.780659L9.16436 5.13952C9.5359 5.62767 9.57711 6.11205 9.37619 6.59356C9.21014 6.99191 8.86695 7.35703 8.41195 7.70132C8.27354 7.81806 8.11119 7.93929 7.94374 8.06429C7.38061 8.48473 6.73649 8.96552 6.95554 9.53215ZM8.86572 14.0457C7.70285 12.7917 6.81696 11.4339 6.05275 10.0304C6.03937 10.0083 6.02739 9.98492 6.01718 9.96032C5.45829 8.62069 6.46092 7.87248 7.33659 7.21928C7.48538 7.10829 7.62942 7.00071 7.75937 6.89079L7.75973 6.89133C7.7673 6.88487 7.77522 6.87858 7.7835 6.87247C8.10802 6.6293 8.34187 6.39708 8.43114 6.18335C8.48203 6.06141 8.46319 5.92725 8.34908 5.77656C8.32954 5.75339 8.31158 5.72789 8.29573 5.70059L5.89427 1.55096C4.86083 1.50768 4.05964 1.78821 3.46711 2.27726C2.72068 2.8931 2.28328 3.85036 2.11583 4.91718C1.78038 7.05333 2.41799 9.33424 3.57593 11.4725C4.99835 14.0988 7.19889 16.4972 9.36281 18.1626C9.9578 18.6206 10.556 18.9983 11.1117 19.3492L11.2043 19.4078C12.4049 20.1662 13.4964 20.7343 14.5591 21.068C15.5938 21.3929 16.6077 21.4954 17.6809 21.3349C18.3869 21.2294 19.1095 21.0682 19.7355 20.7729C20.3256 20.4945 20.8357 20.0931 21.1678 19.497C21.4312 19.0234 21.6133 18.4817 21.6117 18.0204C21.6106 17.7276 21.5286 17.4764 21.3291 17.33L17.4112 15.0349C16.9778 14.8407 16.42 15.5882 15.9685 16.1933C15.7741 16.4541 15.5943 16.6947 15.4128 16.8788C15.1527 17.1421 14.8637 17.3679 14.539 17.4914C14.1629 17.6349 13.7651 17.6412 13.3496 17.425L13.3499 17.4243C11.4809 16.4571 10.0372 15.3091 8.86572 14.0457Z')
            | 03 62 67 1110
    .logo-bar
        button#mobile-menu-button
            svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 445 355')
                g#g856.menuButtonRailwayBeam(transform='translate(60 100)')
                    path#path847(d='M-58.5-37.4155L385-37')
                    path#path849(d='M-60 80h445')
                    path#path851(d='M-60 201h445')
                g#g860.menuButtonRailwaySteel(transform='translate(60 100)')
                    path#path843(d='M20-100v355')
                    path#path845(d='M305-98.30134V255')
        img.cj-header-logo(alt='Carpet Junction logo' src='images/logos/carpet-junction-logo.svg')
    nav
        ul
            li
                a(href='/') Home
            li
                a(href='/carpet/') Carpet
            li
                a(href='/floating/') Floating floors
            li
                a(href='/vinyl/') Vinyl
            li
                a(href='https://www.bedsrusmargate.carpetjunction.com.au') Mattress Junction
            li#faqs-nav-li
                button#faqs-nav-slider-btn
                    | FAQs & help
                    svg(style='width:17px;height:17px;margin-left:5px;')
                        use(href='images/svg-sprites.svg#slider-reveal-arrow' fill='lightgrey')
                article
                    section
                        h2 Jump to section:
                        ul
                            li
                                a(href='/faqs/') View all
                            li
                                a(href='/faqs/#purchasing') Purchasing
                            li
                                a(href='/faqs/#installations') Installations
                            li
                                a(href='/faqs/#mattresses') Mattresses and bedding
                            li
                                a(href='/faqs/#other-services') Other services
                            li
                                a(href='/faqs/#maintenance') Cleaning & Maintenance
                            li
                                a(href='/faqs/#warranties-returns-repairs') Warranties, returns & repairs
                            li
                                a(href='/faqs/#tandc') Terms & Conditions
                    section
                        h2 Flooring guides:
                        ul
                            li
                                a(href='/guides/#carpet') Carpet
                            li
                                a(href='/guides/#floating-floors') Floating floors
                            li
                                a(href='/guides/#vinyl') Vinyl
                            li
                                a(href='/product-wizard') Take our product matcher questionaire
            li
                a(href='/contact/') Contact / find us
.header-spacer