.flooring-page-link-box {
    width:320px; 
    height:280px; 
    background-size: cover; 
    border: 4px solid white; 
    box-shadow: 1px 2px 6px 3px lightgrey;
    position:relative;

    &:nth-child(1) {
        background-image: url('./images/desktop/balinese_home-banner_01-desktop-1x.jpg');
    }
    &:nth-child(2) {
        background-image: url('./images/desktop/magnolia_home-banner_01-desktop-1x.jpg');
    }
    &:nth-child(3) {
        background-image: url('./images/desktop/brigade-canyon-clouds-desktop-1x.jpg');
    }

    &:hover {
        position: relative;
        top: -10px;
    }
}

.flooring-page-link-text-container {
    color:white;
    font-size: 24px;
    font-weight:bold;
    position: absolute;
    right: -20px;
    top: 11px;
    z-index: 500; 
    background-color: rgba(231, 102, 102, 0.89);
    border-radius: 0 20px 0 20px;
    padding: 5px 15px;
}

#flooring-page-link-box-container {
    display: flex;

}

