include includes/header.pug

include includes/navbar.pug

include includes/quoteModal.pug

div(style='position:relative;')
  div(style='position:absolute;padding:20px;left: 60%;top:0;height:100%;')
    img(src='./candmlogo.png' alt='Carpet and Mattress Junction' style='margin:auto;')
    div(style='max-width:600px;margin:auto;')
      div(style='color:lightgrey;font-weight:bold;font-size: 2.5em;') your stop
      div(style='color:lightgrey;text-transform: uppercase;') For floor coverings in Tasmania
      div(style='color:lightgrey;').
        
        We'll take you through the whole process of buying and installaing new floor coverings. Explore our large selection of carpets, vinyls, laminates and engineered-timber floating floors.
        
  div(style='display:flex;')
    div(style='min-width:2%;background-color: black;')
    img(src='./P1560494222(thin).jpg' style='max-width:90%;max-height:600px;' alt)
    div(style='background-color:black;width:100%;')
section.section
  .container
    h1.title.
      
      CJ
      
    p.subtitle Welcome to 
      strong Carpet Junction!

  section
    div#flooring-page-link-box-container
      a.flooring-page-link-box
      a.flooring-page-link-box
      a.flooring-page-link-box


footer.footer(style='background-color:darkgrey')
  .content.has-text-centered
    p
      strong Bulma
      |  by 
      a(href='https://jgthms.com') Jeremy Thomas
      | . The source code is licensed

      a(href='http://opensource.org/licenses/mit-license.php') MIT
      | . The website content is licensed 
      a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/') CC BY NC SA 4.0
      | .

script.
  
  document.getElementById('quote-request-btn').addEventListener('click', (e) => {
      document.getElementsByClassName('modal')[0].classList.add('is-active');
      e.stopImmediatePropagation();
    })
  
    document.addEventListener('click', (e) => {
      if (document.getElementsByClassName('modal')[0].classList.contains('is-active') && (!e.target.closest('.modal-card') || e.target.classList.contains('close-modal-btn'))) {
        document.getElementsByClassName('modal')[0].classList.toggle('is-active')
      }
    })
  
    document.querySelector('.navbar-burger').addEventListener('click', () => {
      document.querySelector('.navbar-menu').classList.toggle('is-active');
    })
  